<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Magazin sneakers</title>
    <link rel="stylesheet" href="/stil.css">
    <link rel="icon" type="image/x-icon" href="/jordan-icon.ico">
</head>
<body>
    <main>
        <%- body %> 
    </main>
</body>
</html>
